src/archives/xlsx/*.xlsx
src/archives/images/*png
src/archives/images/*jpg
src/archives/images/*jpeg
src/archives/images/*svg
src/archives/images/*csv
src/archives/json/*.json
node_modules
src/user_data
